*.userprefs
packages/
Components/
obj/
bin/

# Android
gen/
target/
*.apk
*.ap_
*.dex
*.class
.gradle/
build/
local.properties
.classpath
.project
proguard/
*.log

Resource.designer.cs

*.iml
*.ipr
*.iws
.idea/

.metadata/
