<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rsmn</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>txt</string>
			<key>CFBundleTypeName</key>
			<string>RaiseMan Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.onobytes.raiseman-doc</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
	</array>
	<key>CFBundleIconFile</key>
	<string>Einstein</string>
	<key>CFBundleIdentifier</key>
	<string>com.onobytes.raiseman</string>
	<key>CFBundleName</key>
	<string>RaiseMan</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.9</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>RaiseMan Document</string>
			<key>UTTypeIconFile</key>
			<string>txt</string>
			<key>UTTypeIdentifier</key>
			<string>com.onobytes.raiseman-doc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rsmn</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>CFBundleDisplayName</key>
	<string>RaiseMan</string>
</dict>
</plist>
