<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.onobytes.RunTracker">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="19" />
	<application android:label="RunTracker" android:icon="@drawable/icon">
	</application>
	<uses-permission android:name="android.permission.LOCATION_HARDWARE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:required="true" android:name="android.hardware.location.gps" />
</manifest>