<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="NerdLauncher.NerdLauncher">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="NerdLauncher" android:icon="@drawable/icon">
	</application>
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.REORDER_TASKS" />
</manifest>